recursive-include lib *
recursive-include examples *
include LICENSE
include changelog.md
exclude examples/mt5/.env
prune examples/mt5/.metaapi
exclude examples/mt4/.env
prune examples/mt4/.metaapi
exclude examples/streamQuotes/.env
prune examples/streamQuotes/.metaapi
exclude examples/retrieveHistoricalMarketData/.env
prune examples/retrieveHistoricalMarketData/.metaapi
prune examples/synchronizeManyAccounts
exclude examples/synchronizeManyAccounts/.env
prune examples/synchronizeManyAccounts/.metaapi
exclude examples/copyFactory/.env
prune examples/copyFactory/.metaapi

